<!DOCTYPE html>
<html>
  <head>
    <title>Workout-Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class="wrapper">
      <%= render "/shared/header"%>
      <div class="row content">
        <%= render "/shared/messages"%>
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <%= render "/shared/footer"%>
    </div>
  </body>
</html>
